<div class="container">
  <!-- CREATE POST FORM SECTION -->
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <!-- Template-driven form reference -->
      <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
        <!-- Title Input -->
        <div class="mb-3">
          <label for="title" class="form-label fw-bold">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            ngModel
            name="title"
          />
        </div>

        <!-- Content Textarea -->
        <div class="mb-3">
          <label for="content" class="form-label fw-bold">Content</label>
          <textarea
            class="form-control"
            id="content"
            required
            ngModel
            name="content"
          ></textarea>
        </div>

        <!-- Submit Button -->
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="postForm.invalid"
        >
          Send Post
        </button>
      </form>
    </div>
  </div>

  <hr />

  <!-- FETCH & CLEAR BUTTONS SECTION -->
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <!-- Fetch Posts -->
      <button class="btn btn-primary" (click)="onFetchPosts()">
        Fetch Posts
      </button>
      <!-- Divider -->
      |
      <!-- Clear Posts -->
      <button
        class="btn btn-danger"
        [disabled]="loadedPosts.length < 1"
        (click)="onClearPosts()"
      >
        Clear Posts
      </button>
    </div>
  </div>

  <!-- NO POSTS MESSAGE SECTION -->
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <p *ngIf="loadedPosts.length < 1 && !isFetching && !error">
        No posts available!
      </p>
      <ul class="list-group" *ngIf="loadedPosts.length >= 1 && !isFetching">
        <li class="list-group-item" *ngFor="let post of loadedPosts">
          <h4>{{ post.title }}</h4>
          <p>{{ post.content }}</p>
        </li>
      </ul>
      <p *ngIf="isFetching && !error">Loading...</p>
      <div class="alert alert-danger" *ngIf="error">
        <h1>An Error Occurred!</h1>
        <p>{{ error }}</p>
        <button class="btn btn-danger" (click)="onHandleError()">Okay</button>
      </div>
    </div>
  </div>
</div>
