<h1>Hello, This is Angular Course Tutorial</h1>
<hr />

<!-- section 18 -->
<!-- <app-servers18></app-servers18> -->

<!-- Assignment 2 -->
<!-- <app-assignment2></app-assignment2> -->

<!-- section 21 : Data Binding Deep Dive-->
<!-- <app-databinding-deep-dive></app-databinding-deep-dive> -->

<!-- Assignment 4 -->
<!-- <app-assignment4></app-assignment4> -->

<!-- Section 23: Directives Deep Dive -->
<!-- <app-directives></app-directives> -->

<!-- Section 25: Services and Dependency Injections -->
<!-- <app-services-depedency-injection></app-services-depedency-injection> -->

<!-- Assignment 5 -->
<!-- <app-assignment5></app-assignment5> -->

<!-- Section 27: Routing -->
<!-- <app-routing></app-routing> -->

<!-- Section 31: Handling Forms TD -->
<!-- <app-forms-td></app-forms-td> -->
<!-- Section 31: Handling Forms Reactive -->
<app-forms-reactive></app-forms-reactive>

<!-- Section 33: Pipes -->
<!-- <app-pipes></app-pipes> -->

<!-- Section 34: Http Request -->
<!-- <app-http-repuest></app-http-repuest> -->
